.sobre {
    text-align: justify;
    padding: 30px 0;
    width: 940px;
    margin: 0 auto;
    min-height: 800px;
}

#my_picture {
    clear: right;
    float: right;
    width: 250px;
    margin: 10px;
}

@media screen and (max-width: 700px) {

  .sobre h2 {
    font-size: 33px;
    padding-top: 50px;
  }

  .sobre p {
    font-size: 25px;
    padding: 10px;
  }

}
