.blog {
    text-align: justify;
    padding: 30px 0;
    width: 940px;
    margin: 0 auto;
    min-height: 800px;
}

.blog_window {
    border-top: 3px solid;
    padding: 0 20px;
}

.tags_blog {
    display: flex;
    flex-warp: warp;
    margin: 10px 0;
}

@midia screen and (max-width: 500px) {

}
