/** Header **/
#my-img {
    border-radius: 30px;
}

header {
    background-color: #1C1C1C;
    font-family: "arial", sans-serif;
    color: #FFFAFA;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    display: inline-flex;
    width: 100%;
}

header a {
    margin-left: 20px;
}

header nav {
    text-align: right;
}

header nav ul {
    position: absolute;
    top: 22px;
    right: 25px;
}

header nav ul li {
    display: inline-block;
    font-family: 'Baloo', cursive;
    text-transform: uppercase;
}

header nav ul li a{
    text-decoration: none;
    color: #FFFAFA;
    padding: 15px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
}

header h1 {
    font-size: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 30px;
    border-bottom-right-radius: 100px;
    font-family: 'Righteous', cursive;
}

header h1 a {
    text-decoration: none;
    color: #FFFAFA;
}

/** Side bar**/
#activate_menu {
    position: absolute;
    left: 10px;
    top: 80px;
    cursor: pointer;
}

#menu {
    background-color: rgb(38, 48, 61);
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}

#sidebar {
    top: 63px;
    left: -100%;
    width: 250px;
    display: block;
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.sidebar_item {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.sidebar_item:hover {
    color: #0431B4;
}

.buscar {
    background-color: #eee;
    color: black;
    display: block;
    height: 39px;
    padding-top: 4px;
}

.txtBuscar {
    display: inline-block;
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 15px;
    border: none;
    height: 32px;
    width: 210px;
}

.btnBuscar {
    text_inline: center;
    float: right;
    height: 20px;
    width: 20px;
    padding: 6px;
    cursor: pointer;
}

/** body **/
#idea {
    position: fixed;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
}

body {
    max-width: 2000px;
    background-color: #E8E8E8;
}

/** Main **/
#my_picture {
    clear: right;
    float: right;
    width: 250px;
    margin: 10px;
}

.corpo {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.corpo h1 {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 10PX;
}

.corpo h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.corpo ul li {
    font-family: 'Nunito', sans-serif;
    padding: 3px;
    font-size: 15px;
}

.my_background {
    text-align: justify;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

.progress_bar {
  width: 150px;
  background-color: #99A3A4;
  border-radius: 4px;
}

.bar {
  width: 100px;
  height: 8px;
  background-color: #003399;
  border-radius: 4px;
}

.principais_projetos {
    background-color: #B2BABB;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
}

.principais_projetos a {
    text-decoration: none;
}

.principais_projetos div {
    display: inline-block;
    margin: 30px 20px;
    width: 170px;
    height: 250px;
    border: 2px solid;
    border-radius: 20px;
    transition: 0.3s all;
    color: red;
}

.principais_projetos div: hover {
    transform: scale(2);
    color: blue;
}

.experiencia {
    text-align: justify;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

.sobre {
    text-align: justify;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

.projetos {
    text-align: justify;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

.contato {
    text-align: justify;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

.contato form label {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px 0;
}

.contato form input {
    display: block;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.contato form textarea {
    display: block;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 200px;
    padding: 5px;
    margin-bottom: 20px;
}

.contato_enviar {
    width: 20%
    border-radius: 5px;
    ffont-family: 'Baloo', cursive;
    border: None;
    background: #99A3A4;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s background;
}

.contato_enviar: hover {
    background: #7FB3D5;
}

.blog {
    text-align: justify;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

.admin {
    text-align: justify;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

/** footer **/
footer {
    width: 100%;
    height: 30px;
    background-color: #1C1C1C;
    padding: 4px;
    box-sizing: border-box;
}

footer div {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    color: #FFFAFA;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
}

footer ul {
    position: absolute;
    text-align: bottom;
    right: 10px;
    padding: 3px;
}

footer ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}
