{% extends "template.html" %}
{% block conteudo %}
    <div class="blog">
        <h1>Blog</h1>
        <div class="blog_window">
            <h2>Python</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_blog">
                <li>Tags:</li>
                <li>Python</li>
                <li>Programação</li>
            </ul>
        </div>
        <div class="blog_window">
            <h2>Java</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_blog">
                <li>Tags:</li>
                <li>Java</li>
                <li>Programação</li>
            </ul>
        </div>
        <div class="blog_window">
            <h2>Estátistica</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_blog">
                <li>Tags:</li>
                <li>Estátistica</li>
                <li>Matemática</li>
            </ul>
        </div>
        <div class="blog_window">
            <h2>Fisíca</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_blog">
                <li>Tags:</li>
                <li>Fisíca</li>
            </ul>
        </div>
        <div class="blog_window">
            <h2>Matemática</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_blog">
                <li>Tags:</li>
                <li>Mátemético</li>
            </ul>
        </div>
        <div class="blog_window">
            <h2>Cálculo</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_blog">
                <li>Tags:</li>
                <li>Cáculo</li>
                <li>Matemática</li>
            </ul>
        </div>
    </div>
{% endblock %}