<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Rodrigo Souza</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/curriculo.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
      <div class="left">
          <div>
            <img src="{{ url_for('static', filename='img/me.jpg') }}" class="foto" alt="foto de rodrigo">
            <h2>Dados Pessoais</h2>
            <p>Nascimento: 20/05/1999</p>
            <p>Estado civil: Solteiro</p>
            <p>Nacionalidade: Brasileiro</p>
            <h3>Endereço</h3>
            <p>Osasco - SP</p>
            <h3>Telefone</h3>
            <p>(11) 97735-5161</p>
            <h3>E-mail</h3>
            <p>rodrigo.sis.s7@gmail.com</p>
            <h3>Meu site</h3>
            <p>rodrigo.engineer</p>
            <h3>GitHub</h3>
            <p>github.com/Rodrigosis</p>
            <h3>Linkedin</h3>
            <p>linkedin.com/in/rodrigo-silva-souza</p>
          </div>
          <div>
            <h2>Linguagens</h2>
            <p>Python</p>
            <div class="progress_bar">
              <div class="python"></div>
            </div>
            <p>Java</p>
            <div class="progress_bar">
              <div class="java"></div>
            </div>
            <p>JavaScript</p>
            <div class="progress_bar">
              <div class="javascript"></div>
            </div>
            <p>SQL</p>
            <div class="progress_bar">
              <div class="sql"></div>
            </div>
          </div>
          <div class="habilidades">
            <h2>Habilidades</h2>
            <p>Matemática</p>
            <p>Estatística</p>
            <p>Machine Learning</p>
            <p>Deep Learning</p>
            <p>Data Science</p>
            <p>NLP</p>
            <p>Linux</p>
            <p>AWS</p>
            <p>Docker</p>
            <p>Flask</p>
          </div>
          <div class="idiomas">
            <h2>Idiomas</h2>
            <p>Português - nativo</p>
            <p>Inglês - Intermediário</p>
          </div>
      </div>
      <div class="right">
          <h1>Rodrigo da Silva Souza</h1>
          <div class="header">
            <div class="objetivo">
              <h2>Objetivos</h2>
              <p>Em Busca de oportunidades para desenvolver meus conhecimentos, gosto de desafios e de buscar soluções para eles, sou Desenvolvedor Machine Learning e busco adquirir competência para me tornar Engenheiro de Machine Learning.</p>
            </div>
            <div class="perfil">
              <h2>Perfil</h2>
              <p>Sou confiante no que faço e gosto do meu trabalho, não meço esforços para alcançar meus abjetivos, sou pró-ativo, carismático e trabalho muito bem em grupo, sempre busco ajudar a todos e tenho a capacidade de inspirar as pessoas a minha volta.</p>
            </div> 
          </div>
          <div>
            <h2>Experiência</h2>
            <h4>Machine Learning Intern</h4>
            <p>Talentify.io | Jun/2019 - atual</p>
            <h4>Assistente de Engenharia</h4>
            <p>Multialloy | Jul/2018 - Jun/2019</p>
            <h4>Estagiário de Engenharia</h4>
            <p>Multialloy | Jan/2017 - Jun/2018</p>
            <h4>Estagiário da Qualidade</h4>
            <p>Multialloy | Jan/2016 - Dez/2016</p>
            <h4>Menor aprendiz da Qualidade</h4>
            <p>Multialloy | Fev/2014 - Dez/2015</p>
          </div>
          <div>
            <h2>Formação Acadêmica</h2>
            <h4>Engenharia Elétrica e Eletrônica</h4>
            <p>Bacharelado, UNINTER</p>
            <p>2019 - 2022</p>
            <h4>Engenharia de Software</h4>
            <p>Bacharelado, UniCesumar</p>
            <p>2019 - 2022</p>
          </div>
          <div>
            <h2>Cursos de Extensão</h2>
            <h4>Machine Learning</h4>
            <p>Alura - 2019</p>
            <h4>Data Science</h4>
            <p>Alura - 2019</p>
            <h4>Desenvolvedor Python / Python Web</h4>
            <p>Alura - 2020</p>
            <h4>Desenvolvedor Java / Java Web</h4>
            <p>Alura - 2020</p>
            <h4>MySQL</h4>
            <p>Alura - 2020</p>
          </div>
          <div>
            <h2>Habilidades interpessoais</h2>
            <ul>
              <li>Boa comunicação, adquirida através de experiência profissional.</li>
              <li>Empatia: estou sempre disposto há ouvir e entender outros pontos de vista.</li>
              <li>Clareza na tomada de decisão: excelente capacidade de analisar situações e tomar decisões rápidas e eficazes.</li>
              <li>Confiança: acredito no meu trabalho e faço a diferença na equipe, seja utilizando diretamente meus conhecimentos e habilidades ou dando suporte aos demais.</li>
              <li>Organização: sou extremamente organizado e não tenho dificuldades em atuar em diversas posições e projetos simultaneamente.</li>
            </ul>
          </div>
      </div>
  </body>
</html>