{% extends "template.html" %}
{% block conteudo %}
    <div class="my_background">
        <section class="formacao_academica">
            <h2>Formação Acadêmica</h2>
            <ul>
                <li>
                    Engenharia Elétrico 50%
                    <p>Bacharelado</p>
                </li>
                <li>
                    Engenharia de Software 18%
                    <p>Bacharelado</p>
                </li>
            </ul>
        </section>
        <section class="cursos_extencao">
            <h2>Cursos de Extenção</h2>
            <ul>
                <li>
                    Machine Learning
                </li>
                <li>
                    Data Science
                </li>
                <li>
                    Desenvolvedor Python
                </li>
                <li>
                    Desenvolvedor Java
                </li>
            </ul>
        </section>
        <section class="skills">
            <h2>Skills</h2>
            <ul>
                <li>Machine Learning</li>
                <li><progress max="100" value="10"></progress></li>
                <li>Deep Learning</li>
                <li><progress max="100" value="10"></progress></li>
                <li>Big Data</li>
                <li><progress max="100" value="10"></progress></li>
                <li>Data Science</li>
                <li><progress max="100" value="10"></progress></li>
                <li>NLP (Natural Language Processing)</li>
                <li><progress max="100" value="10"></progress></li>
                <li>Internet of Thinks</li>
                <li><progress max="100" value="10"></progress></li>
            </ul>
        </section>
        <section class="linguagens">
            <h2>Linguagens de Programação</h2>
            <ul>
                <li>Python</li>
                <li><progress max="100" value="60"></progress></li>
                <li>Java</li>
                <li><progress max="100" value="50"></progress></li>
                <li>JavaScript</li>
                <li><progress max="100" value="10"></progress></li>
            </ul>
        </section>
        <section>
            <h2>Idiomas</h2>
            <ul>
                <li>Português</li>
                <li><progress max="100" value="100"></progress></li>
                <li>Inglês</li>
                <li><progress max="100" value="60"></progress></li>
            </ul>
        </section>
    </div>
    <div class="principais_projetos">
        <h1>Conheça meus projetos</h1>
        <blockquote>
            <a href="{{ url_for('projetos') }}">
                <h2>Nome de Projeto</h2>
                <p>Uma breve descrição do projeto jhgdfjg wrgnjnwe sjbg efajbsejkfb</p>
            </a>
        </blockquote>
        <blockquote>
            <a href="{{ url_for('projetos') }}">
                <h2>Nome de Projeto</h2>
                <p>Uma breve descrição do projeto jhgdfjg wrgnjnwe sjbg efajbsejkfb</p>
            </a>
        </blockquote>
        <blockquote>
            <a href="{{ url_for('projetos') }}">
                <h2>Nome de Projeto</h2>
                <p>Uma breve descrição do projeto jhgdfjg wrgnjnwe sjbg efajbsejkfb</p>
            </a>
        </blockquote>
    </div>
    <div class="experiencia">
        <h1>Experiência</h1>
        <section>
            <h2>Talentify.io</h2>
            <ol>
                <li>
                    <p>Estagiário Machine Learning</p>
                    <p>jun/2019 - Atual</p>
                </li>
            </ol>
        </section>
        <section>
            <h2>Multialloy Metais e Ligas Especiais LTDA</h2>
            <ol>
                <li>
                    <p>Assistente de engenharia</p>
                    <p>jul/2018 – jun/2019</p>
                </li>
                <li>
                    <p>Estagiário de engenharia</p>
                    <p>jan/2017 – jun/2018</p>
                </li>
                <li>
                    <p>Estagiário do controle de qualidade</p>
                    <p>jan/2016 – dez/2016</p>
                </li>
                <li>
                    <p>Menor aprendiz da qualidade</p>
                    <p>fev/2014 – dez/2015</p>
                </li>
            </ol>
        </section>
    </div>
{% endblock %}