{% extends "template.html" %}
{% block conteudo %}
    <h1 class="teste_css">Habilidades Profissionais</h1>
    <ul>
        <li>Engenharia Elétrico</li>
        <li><progress max="100" value="20"></progress></li>
        <li>Engenharia de Software</li>
        <li><progress max="100" value="0"></progress></li>
        <li>Inteligência Artificial</li>
        <li><progress max="100" value="30"></progress></li>
        <li>Internet das Coisas</li>
        <li><progress max="100" value="10"></progress></li>
    </ul>
    <ul class="linguagens">
        <li>
            <ul class="frontend">
                <li><h1>Front-end</h1></li>
                <li>HTML</li>
                <li><progress max="100" value="30"></progress></li>
                <li>CSS</li>
                <li><progress max="100" value="20"></progress></li>
                <li>JavaScript</li>
                <li><progress max="100" value="10"></progress></li>
            </ul>
        </li>
        <li>
            <ul class="backend">
                <li><h1>Back-end</h1></li>
                <li>Java</li>
                <li><progress max="100" value="50"></progress></li>
                <li>Python</li>
                <li><progress max="100" value="60"></progress></li>
                <li>SQL</li>
                <li><progress max="100" value="30"></progress></li>
            </ul>
        </li>
    </ul>
    <h1>Idiomas</h1>
    <ul>
        <li>Português</li>
        <li><progress max="100" value="100"></progress></li>
        <li>Inglês</li>
        <li><progress max="100" value="60"></progress></li>
        <li>Espanhol</li>
        <li><progress max="100" value="10"></progress></li>
    </ul>
{% endblock %}