{% extends "template.html" %}
{% block conteudo %}
    <div class="projetos">
        <h1>Projetos</h1>
        <div class="project_window">
            <img src="{{ url_for('static', filename='img/machine.jpg') }}" alt="Imagem do projeto">
            <h2>Machine Learning</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_projeto">
                <li>Tags:</li>
                <li>Machine learning</li>
                <li>Data Science</li>
            </ul>
        </div>
        <div class="project_window">
            <img src="{{ url_for('static', filename='img/deep.jpg') }}" alt="Imagem do projeto">
            <h2>Deep Learning</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_projeto">
                <li>Tags:</li>
                <li>Deep learning</li>
                <li>Data Science</li>
            </ul>
        </div>
        <div class="project_window">
            <img src="{{ url_for('static', filename='img/iot.jpg') }}" alt="Imagem do projeto">
            <h2>IoT</h2>
            <p>Meu primeiro contato com programação foi utilizando código G para programar máquinas CNC, mas meu interesse por programar veio tempos depois ao ver várias matérias de sites de notícias falando de como o futuro seria e como a computação e sistemas inteligentes estavam mudando o mundo.</p>
            <ul class="tags_projeto">
                <li>Tags:</li>
                <li>IoT</li>
                <li>Eletrônica</li>
                <li>CPS</li>
            </ul>
        </div>
    </div>
{% endblock %}