<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rodrigo Souza</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <div>
            <a href="{{ url_for('index') }}"><img id="my-img" src="{{ url_for('static', filename='img/favicon.jpg') }}" width="50" height="50" alt="Foto de Rodrigo da Silva Souza"></a>
        </div>
        <h1><a href="{{ url_for('index') }}">Rodrigo Souza</a></h1>
        <div>
            <ul id="redes-sociais">
                <li>
                    <a href="https://github.com" data-tooltip="Veja meus projetos opensource" target="_blank">
                        <img src="{{ url_for('static', filename='img/github-white.png') }}" width="30" height="30" alt="Icone do GitHub">
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com" data-tooltip="Veja meu currículo" target="_blank">
                        <img src="{{ url_for('static', filename='img/linkedin-white.png') }}" width="30" height="30" alt="Icone do Linkedin">
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('curriculo') }}" data-tooltip="Veja meu curriculum vitae" target="_blank">
                        <img src="{{ url_for('static', filename='img/cv-white.png') }}" width="30" height="30" alt="Icone do curriculum vitae">
                    </a>
                </li>
            </ul>
        </div>
        <nav>
            <ul id="navegacao">
                <li><a href="{{ url_for('projetos') }}">Projetos</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
            </ul>
        </nav>
    </header>
    <div id="activate_menu">
        <img src="{{ url_for('static', filename='img/menu-slim.png') }}" width="25" height="25" alt="Menu">
    </div>
    <aside id="sidebar">
        <ul>
            <li id="menu">MENU</li>
            <li class="buscar">
                <input type="text" class="txtBuscar" placeholder="Buscar..."/>
                <img src="{{ url_for('static', filename='img/search.png') }}" class="btnBuscar" alt="Buscar"/>
            </li>
            <li><a href="#" class="sidebar_item">Elétrica</a></li>
            <li><a href="#" class="sidebar_item">Eletrônica</a></li>
            <li><a href="#" class="sidebar_item">IoT</a></li>
            <li><a href="#" class="sidebar_item">Machine Learning</a></li>
            <li><a href="#" class="sidebar_item">Data Science</a></li>
            <li><a href="#" class="sidebar_item">Python</a></li>
            <li><a href="#" class="sidebar_item">Java</a></li>
            <li><a href="#" class="sidebar_item">JavaScript</a></li>
            <li><a href="#" class="sidebar_item">Física</a></li>
            <li><a href="#" class="sidebar_item">Matemática</a></li>
            <li><a href="#" class="sidebar_item">Estatística</a></li>
        </ul>
    </aside>
    <div id="idea">
        <img src="{{ url_for('static', filename='img/lampada.png') }}" width="30" height="30" alt="Sugira ideias">
    </div>
    <main class="corpo">
        {% block conteudo %}

        {% endblock %}
        <!--{% for topico in lista %}
            <tr>
                <td>{{ topico }}</td>
            </tr>
        {% endfor %}
        <h1>{{ titulo_my_name }}</h1>-->
    </main>
    <footer>
        <div>Rodrigo da Silva Souza 2020</div>
        <ul>
            <li><a href="#"><img src="{{ url_for('static', filename='img/bug-white.png') }}" width="15" height="15" alt="reporte um bug"></a></li>
        </ul>
    </footer>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>
</html>